.about {
  padding: 0;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li{
  list-style: none;
}
/* Активная точка */
.slick-dots li.slick-active button{
  background-color: $dot_color;
}
/* Элемент точки */
.slick-dots li button{
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $white;
  border: 1px solid $grey;
  margin: 15px;
}

.slider-item-content {
  display: flex;
  width: 50%;
  padding: 0 15px;
  flex-direction: column;
  background: $back_slider;
  color: $white;
  align-items: flex-start;
  justify-content: center;

  
  p{
    font-family: 'Cardo', serif;
    line-height: 48px;
    font-size: $_36px;
    margin-bottom: 20px;
  }

  span {
    font-size: $_13px;
    line-height: 15px;
  }
}

.slider-item {
  display: flex;
  transition: 0.3s;

  & img {
    width: 50%;
  }
}

