.footer {
    background: $blue;
    padding: 70px 0 20px;
}

.footer-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer-wrap-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $white;
    margin: 20px 0;

    &-title {
        @include h5;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }

    #footer-content {
        font-weight: 400;
        font-style: normal;
    }
}

.footer-wrap-card-list {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-item {
        text-align: center;
        align-items: center;
        margin: 0 13px;

        & a img:hover {
            box-shadow: 0 0 6px $red;
        }
    }
}

.footer-info {
    width: 370px;
    margin: auto;
    color: $footer_grey;

    #footer-subtitle {
        color: $white;
    }
}