@import "./header";
@import "./variables";
@import "./mixins";
@import "./fonts";


* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.html {
  font-size: 18px;
}

.section {
  padding: 116px 0;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  background: $red;
  text-transform: uppercase;
  font-size: $_24px;
  border: 1px solid $red;
  width: 370px;
  color: $white;
  height: 78px;
  font-size: $_24px;
  font-weight: 900;
}