@import "./header";
@import "./variables";
@import "./mixins";
@import "./fonts";
@import "./features";
@import "./team";
@import "./download.scss";
@import "./footer.scss";
@import "./about.scss";
@import "./portfolio.scss";


* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

section {
  padding: 116px 0 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  background: $red;
  text-transform: uppercase;
  font-size: $_24px;
  border: 1px solid $red;
  width: 370px;
  color: $white;
  height: 78px;
  font-size: $_24px;
  font-weight: 900;
  cursor: pointer;
}