.portfolio {
  padding: 0 0 116px;
}

.container_portfolio {
}
.portfolio-wrap {
  width: 100%;
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1px;
  column-gap: 1px;
}

.portfolio-wrap-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;

  &:hover {
    z-index: 2;
    background-color: aquamarine;
  }
}

.portfolio-wrap-item {
  height: 340px;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: aqua;
  }
}

