.team {
  padding: 0 0 116px;
}

.team-wrap {
  display: flex;
  flex-flex: row wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.team-wrap-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
  margin: 0 15px;

  &-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    & img {
      width: 100%;
    }
  }

  span {
    display: block;
  }
}

.team-wrap-card-content-name {
  font-weight: 700;
  font-size: $_24px;
  margin-bottom: 6px;
}

.team-wrap-card-content-position {
  font-weight: 400;
  color: $red;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.team-wrap-card-content-icons-list {
  display: flex;
  flex-direction: row;
  margin-top: 38px;

  &-item {
    margin-right: 5px;

    &-link img:hover {
      box-shadow: 0 0 6px $red;
    }
  }
}

// add other cards and icons