//fonts
$_13px: 0.722rem;
$_24px: 1.333rem;
$_30px: 1.666rem;
$_36px: 2rem;
$_64px: 3.555rem;

//colors

$red: rgb(255, 67, 67);
$blue: rgb(53, 60, 101);
$deepblue: rgb(44, 49, 84);
$maskblue: rgba(37, 43, 73, 0.8);
$white: rgb(255, 255, 255);
$grey: rgb(186, 187, 197);
$logo_grey: rgb(101, 105, 128);